.logo_reportes{
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.logo_reportes img{
    min-width: 80%;
    max-width: 250px;
}

    .modal-body{
        padding: 0rem .5rem 1.5rem .5rem;
    }
    .modal-header{
        padding: 0.7rem .5rem .7rem 0.5rem;
        gap: 1rem;
    }
    .header_modal_body{
        margin: 1rem;
    }
    .modal-footer{
        padding: 0rem .5rem .7rem .5rem;
        background-color: #F0FCFF;
    }

     .btn-option {
            border: 1px solid #476EB4;
            border-radius: 15px;
            padding: 15px 30px 25px 30px;
            transition: all 0.3s;
            cursor: pointer;
            height: 100%;
            background-color: #0d6efd;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .3rem;
        }
        .btn-option_dos{
            border: 1px solid #0d6efd;
            border-radius: 15px;
            padding: 15px 30px 25px 30px;
            transition: all 0.3s;
            cursor: pointer;
            height: 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .3rem;
        }
        .main-title{
            font-size: 1.5rem;
            color: #476EB4;
        }
        .subtitle{
            font-size: 1.5rem;
            color: #476EB4;
            line-height: 1.2;
    padding-bottom: 1rem;

        }
        .icon_login{
            width: 30px;
            height: 30px;
        }
        .btn-back{
            background-color: white;
            color: #6c6b6b;
             padding-top: 16px;
             font-size: 20px;
             cursor: pointer;
             font-weight: bold;
        }


        .Docicono{
            width: 30px;
            height: 30px;
            color: #476EB4;
        }
